<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="CsvHelper" version="6.0.0" targetFramework="net452" />
  <package id="Esri.ArcGISRuntime.Toolkit" version="100.1.0-beta2" targetFramework="net452" />
  <package id="Esri.ArcGISRuntime.Toolkit.WPF" version="100.1.0-beta2" targetFramework="net452" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.1.0" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="3.2.0" targetFramework="net452" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
</packages>